/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import "__spacing.css"; /* Using Tachyons spacing */

html,
body {
  color: #222;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  margin: 0;
  height: 100%;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * 
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  flex: 1;
  overflow: auto;
}

/* The hero image */
.hero-image {
  margin: 0 0;
  background-image: url("../img/hero-beach.jpg");
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.header__logo {
  height: 32px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.footer__items a {
  font-weight: 500;
  color: #222;
  text-decoration: none;
}

/* ==========================================================================
  Add your CSS here 
   ========================================================================== */

section {
  height: 300px;
  overflow: auto;
  border-bottom: 2px solid;
  background: lightpink;
}













/* ========================================================================== ========================================================================== */



   /*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
